doctype html
html(lang='zh-Hant-TW')
  include includes/_head.pug
  body
    #root
      include includes/nav.pug
      include includes/header.pug
      include includes/about.pug
      include includes/works.pug
      include includes/podcast.pug
      include includes/contact.pug