//- contact
.contact.container#contact
  .container_title Contact
  //- 下方三區塊
  .contact_container
    a.contact_block(href="public/resume.pdf"  target="_blank" rel="noreferrer noopener")
      img(src=require("../../images/originals/contact_icon_phone.svg") alt="icon" width="121" height="118")
      pre.contact_block_text Resume
    a.contact_block(href="mailto:unhunsowhat_nini@hotmail.com" target="_blank" rel="noreferrer noopener")
      img(src=require("../../images/originals/contact_icon_mail.svg") alt="icon" width="119" height="115")
      pre.contact_block_text Email
    a.contact_block(href="https://www.instagram.com/japan.happy/" target="_blank" rel="noreferrer noopener")
      img(src=require("../../images/originals/contact_icon_web.svg") alt="icon" width="120" height="123")
      pre.contact_block_text Instagram
  //- 底部 logo
  .contact_logo_wrapper
    img.contact_logo(src=require("../../images/originals/contact_logo.svg") alt="product" width="972" height="200")
