header.header
  .header_content
    //- 上方圖logo 圖片區
    .header_top
      img.header_top_logo(src=require("../../images/header_logo.svg") alt="logo" width="1005" height="413")
    //- 下方文字區
    .header_bottom
      .header_bottom_content
        .header_bottom_title 熱愛自學，永遠不會失去追求新知的熱情
        .header_bottom_text 從 0 開始自學日文通過日語檢定 N1。希望有天能取得獵人執照。
      .header_bottom_content
        .header_bottom_title 美感和視覺設計是一種免費的行銷
        .header_bottom_text 喜歡追求美的事物，並結合過去行銷的背景及經驗，將品牌、美感及實用性上，取得一個完美的平衡點。
      //- 按鈕
      .header_bottom_button
        img(src=require("../../images/header_button.svg") alt="button" width="48" height="48")
